<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
</head>
<body>
    <center>
        <h2>Random Word: ({{ request.session.attempts }} tries) </h2>
        <h1>{{ request.session.word }}</h1>
        <form action="/random_word/" method="POST">
            {% csrf_token %}
            <button type="submit">Generate</button>
        </form>
        <br>
        <form action="/reset" method="POST">
            {% csrf_token %}
            <button type="submit">Reset</button>
        </form>
    </center>
    
</body>
</html>